html 
    head
        title=title
        script(src="")
        link(rel="stylesheet", href="/css/stylesOrders.css")
        link(rel="stylesheet", href="/css/stylesMenu.css")
    body
        div(class=["myContainer","roundedCorner"])
            h1(id="myH1")=h1Text
        div(class="centerContainer")
            ul(class="categories")
                    li(class="homeT"): a(href="/") Home   
                    li(class="contactT"): a(href="/contactUs") Contact Us  
                    li(class="rosterT"): a(href="/roster") Roster   
                    li(class="recordsT"): a(href="/records") Previous Season    
                    li(class="ordersT"): a(href="/orders") Store
        div(class="teamorders")
            each item in items
                div(class="itemdetails")
                    div(class="itemimage")
                        img(src=item.image class="orderimage")
                    table(class="ordertable")
                        tr
                            td(class="orderitem")=item.item
                            td(class="orderprice")="$"+item.price