
html 
    head
        title=title
        script(src="")
        link(rel="stylesheet", href="/css/stylesIndex.css")
    body
        div(class=["myContainer","roundedCorner"])
            h1(id="myH1")=h1Text
        div(class="centerContainer")
            ul(class="categories")
                li: a(href="/") Home
                li: a(href="/contactUs") Contact Us 
                li: a(href="/roster") Roster
                li: a(href="/records") Previous Seasons
                li: a(href="/orders") Orders
        div(class="teamRoster")
            each member in roster
                div(class="teamMember")
                    table(class="teamTable")
                        tr
                            td
                                //- img(src="../public/css/images/Fox.jpg")
                                img(src=member.image)                                
                            td=member.name
                            td=member.number
                            td=member.position
                            div(class="skill")=member.skill
                            //- need photo of each teammember
